<ion-header>
  <ion-toolbar color="success">
    <ion-title>whatsApp</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-segment scrollable value="chats">
    <ion-segment-button>
      <ion-icon name="camera"></ion-icon>
    </ion-segment-button>

    <ion-segment-button value="chat">
      <ion-label>chat</ion-label>
    </ion-segment-button>
    <ion-segment-button value="story">
      <ion-label>story</ion-label>
    </ion-segment-button>
    <ion-segment-button value="calls">
      <ion-label>calls</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="chatbox-ellipses"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
