<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button routerLink="/login">
        <ion-icon slot="icon-only" ></ion-icon>
        login
        
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button routerLink="/login">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="header">
    <h1>Create your <br/>Account</h1>
  
  </div>
    <div id="form">
      <ion-card style="border-radius: 25px;box-shadow: 2px 8px 8px 0px rgba(0,0,0,0.2);">
        <ion-input type="text" placeholder="Your name"></ion-input>
      </ion-card>
      <ion-card style="border-radius: 25px;box-shadow: 2px 8px 8px 0px rgba(0,0,0,0.2);">
        <ion-input type="text" placeholder="Email"></ion-input>
      </ion-card>
      <ion-card style="border-radius: 25px;box-shadow: 2px 8px 8px 0px rgba(0,0,0,0.2);">
        <ion-input type="password" placeholder="password"></ion-input>
      </ion-card>
    </div>
    <div class="btn">
       
      <ion-button  expand="block"  shape="round" color="success">
        Join us
        </ion-button>
        </div>
        <p>By pressing join us you agree<br/>our terms and conditions</p>

</ion-content>
